<!doctype html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<style>
    body {
        background-color: #f2efe4;
    }
	#bottom-bar {
		background-color: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 300px;
		max-height: 40%;
		overflow-y: auto;
		z-index: 999999;
	}
	.btn-emoji {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin: 5px;
	}
	.btn-emoji img {
		width: 32px;
		height: 32px;
	}
	.shown {
		display: inline-block;
		position: absolute;
		width: 96px;
	}
    .shown img {
        width: 96px;
        height: 96px;
    }
	.shown span {
		display: block;
		width: 96px;
		text-align: center;
	}
</style>
<title>Blobhouse</title>
</head>
<body>
<div id="app">
	<button @click="logout">로그아웃</button>
	<div v-for="show in shown" :key="show[0]" class="shown" :style="show[1].style">
		<img :src="show[1].url" :alt="show[1].name">
		<span>{{show[1].name}}</span>
	</div>
	<div id="bottom-bar">
		<div v-for="emoji in emojis" :key="emoji[0]" class="btn-emoji" @click="sendEmoji(emoji[0])">
			<img :src="emoji[1]" :alt="emoji[0]">
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
function getCookie(name) {
    let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
    ));
    return matches ? decodeURIComponent(matches[1]) : undefined;
}
function deleteCookie(name) {
    document.cookie = name + '=; expires=Thu, 01 Jan 1999 00:00:10 GMT;';
}
function r50() {
    return Math.random() * 50;
}
let count = 0;
const socket = io();
let app = new Vue({
	el: '#app',
	data: {
	    emojis: [],
		shownEmojis: {}
	},
	methods: {
	    sendEmoji(id) {
			socket.emit('emoji', {id, session: getCookie('session')});
		},
		showEmoji(name, url) {
	        const localCount = count++;
	        let so = {
                count: localCount,
                name, url,
				style: {top: r50() + '%'}
            };
	        if(Math.random() < 0.5) {
	            so.style.left = r50() + '%';
			}
	        else {
	            so.style.right = r50() + '%';
			}
	        this.$set(this.shownEmojis, localCount, so);
	        setTimeout(() => {
	            this.$delete(this.shownEmojis, localCount);
			}, 10000);
		},
		logout() {
	        deleteCookie('session');
	        location.reload();
		}
	},
	computed: {
	    shown() {
	        return Object.entries(this.shownEmojis);
		}
	},
	created() {
		axios.get('/emoji').then((a) => {
		    this.emojis = a.data;
		});
	}
});
socket.on('emoji', (data) => {
    app.showEmoji(data.name, data.url);
});
</script>
</body>
</html>